@import url('https://fonts.googleapis.com/css?family=Anton');


body {
  font-family: 'メイリオ' ,
                        'Hiragino Kaku Gothic Pro' ,
                         'sans-serif' ;
  font-size: 20px ;
}

/* トップ */

#top-image  {
  font-family: 'Anton', sans-serif;
  font-size:45px
}

#top-image  h1{
  font-family: 'Anton', sans-serif;
  font-size: 90px;
  background-color: #808080
}
